requests

oslo.config
oslo.concurrency
oslo.i18n
oslo.log
oslo.middleware
oslo.serialization
oslo.utils
oslo.vmware

PyYAML
gearman>=2.0.2,<2.1
httplib2
netaddr
ntplib>=0.3.2,<0.4
# for prometheus plugin: prometheus_client
psutil>=2.2.1,<3.1.0
pymongo
python-memcached
python-monascaclient>=1.0.30
python-swiftclient>=3.0.0
redis
simplejson
supervisor>=3.1.3,<3.2
tornado
lxml==3.6.1
