init_config:

instances:
  -   name: Prometheus
      url: http://prometheus.endpoint
      'mapping': {
        'gauges': ['apiserver_request_count', 'apiserver_request_latencies_summary_sum'],
        'rates': ['apiserver_request_latencies_bucket', 'apiserver_request_count'],
        'dimensions': {
          'index': 'index',
          'container_id': {
            'source_key': 'name',
            'regex': 'k8s_([._\-a-zA-Z0-9]*)'
          }
        }
      }